@media (max-width: 1600px) {
  .top {
    &__form {
      margin-right: 0;
      max-width: 400px;
      width: 100%;
    }
    &__form-inner {
      padding: 45px 50px 53px;
    }
    &__form-input {
      width: 100%;
    }  
  }
}

@media (max-width: 1200px) {
  .top {
    &__title {
      font-size: 55px;
    }
    &__form-inner {
      padding: 45px 30px 53px;
    }
  }
}

@media (max-width: 1000px) {
  body {
    font-size: 16px;
  }
  h2 {
    font-size: 27px;
  }
  h3 {
    font-size: 22px;
  }
  .header {
    &__menu-btn {
      display: block;
      margin-right: 30px;
    }
    &__menu {
      display: flex;
      justify-content: center;
      transform: translateX(-120%);
      transition: all .6s;
    }
    &__menu--visible {
      transform: translateX(0);
    }

    &__menu-list {
      display: flex;
      flex-direction: column;
    }   
    &__menu-item {
      margin-bottom: 25px;
    }
  }
  .top {
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 100px;
    background-position: 24% center ;
    &__wrapper {
      flex-direction: column;
      align-items: center;
    }
    &__content {
      margin-top: 0;
      margin-right: 0;
      padding: 36px 22px;
      min-height: auto;
      margin-bottom: 30px;
    } 
    &__title {
      font-size: 50px;
    }
    &__form-title {
      padding-top: 15px;
      padding-bottom: 15px;
    }
    &__form-inner {
      padding: 25px 30px 33px;
    }
    &__form-label {
      margin-bottom: 15px;
    }
    &__form-submit {
      font-size: 20px;
    }
  }
  .about {
    &__wrapper {
      flex-direction: column;
      align-items: center;
    }
    &__left {
      margin-bottom: 50px;
    }
  }  
  .advantages {
    &__wrapper {
      grid-template-columns: repeat(2, 1fr);
    }
    &__item-box {
      grid-column: 1/3;
      grid-row: 3;
      margin-top: 90px;
      &::after {
        content: '';
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }
}

@media (max-width: 600px) {
  section {
    padding: 60px 0;
  }
  h2 {
    font-size: 24px;
  }
    .header {
    &__top {
      flex-direction: column;
      align-items: center;
      position: relative;
    }
    &__logo {
      align-self: flex-start;
    }
    &__menu-btn {
      margin-right: 0;
      position: absolute;
      top: 10px;
      right: 0;
    }
    &__phone {
      margin: 10px 0 5px 45px;
      font-size: 18px;
    }
  }
  .top {
    margin-top: 125px;
  }
  .advantages {
    &__subtitle {
      margin-bottom: 35px;
    }  
    &__wrapper {
      grid-template-columns: repeat(1, 1fr);
    }
    &__item-box {
      grid-column: 1/2;
      grid-row: 5;
      margin-top: 90px;
      &::after {
        content: '';
        left: 50%;
        transform: translateX(-50%);
      }
    }
    &__item-subtitle {
      // margin-top: 80%;
    }
  }  
}


@media (max-width: 450px) {
  body {
    font-size: 14px;
  }
  h2 {
    font-size: 21px;
  }
  h3 {
    font-size: 17px;
  }
  .top {
    &__title {
      font-size: 40px;
    }
  }
  .advantages__item-text {
    font-size: 14px;
 }
}